<div class="container">
<div class="row">
  <h3>Our Services</h3>
  <div class="col-md-6 flushed">
    <h5 class="white">Surveillance Systems</h5>
    <div class="layer">
      <div class="mask red"></div>
      <img class="img-responsive" src="" alt="">
    </div>
  </div>
  <div class="col-md-6 flushed">
    <h5 class="white">ICT Hardware and Software solutions</h5>
    <div class="layer">
      <div class="mask blue"></div>
      <img class="img-responsive" src="" alt="">
    </div>
  </div>
  <div class="col-md-6 flushed">
    <h5 class="white">Structured cabling & Office networks</h5>
    <div class="layer">
      <div class="mask red"></div>
      <img class="img-responsive" src="" alt="">
    </div>
  </div>
  <div class="col-md-6 flushed">
    <h5 class="white">ICT systems support & management</h5>
    <div class="layer">
      <div class="mask blue"></div>
      <img class="img-responsive" src="" alt="">
    </div>
  </div>
  <div class="col-md-12 flushed">
    <h5 class="white">Internet Services (Fiber and WIFI)</h5>
    <div class="layer">
      <div class="mask red"></div>
      <img class="img-responsive" src="" alt="">
    </div>
    <div style="width:30%;margin:auto">
      <button class="btn btn-large btn-default centered">Get Our Brochure</button>
    </div>

  </div>
</div>
</div>
